/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
:root {
  --font-family: "Montserrat", sans-serif;
}
form {
  width: 371px;
  height: 40px;
  display: flex;
  gap: 8px;
  margin: 0 auto;
}
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  transition: border-color 0.3s;
}
input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
input:hover, input:focus {
  border-color:  #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background-color: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px;
}

.gallery-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item .info {
  padding: 10px;
  text-align: left;
}

.gallery-item .info p {
  margin: 5px 0;
  font-size: 14px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #4e75ff;
  display: none;
  z-index: 9999;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #808080;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.load-more {
  display: none;
  margin: 32px auto;
  background-color: #4e75ff;;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
}

.load-more:hover {
  background-color: #6c8cff;;
}
